[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
flask = "*"
flask-marshmallow = "*"
flask-migrate = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
